.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
}
/* common things */
.text-primary{
    color: #FD6E0A;
}
.secondary-bg{
    background-color: #FFF8F3;

}
.text-center{
    text-align: center;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;

}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px ;
}
.nav-title{
    font-weight: 800;
    font-size:45px ;

}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin-right: 50px;

}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
/* Banner styles */
.banner-title{
font-size: 85px;
font-weight: bold;
}
.sub-title{
font-size: 45px;
font-weight: 600;
}
.banner-profile{
    width: 580px;

}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 230px;
}
.banner-content{
    max-width: 580;
}
/* Main Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}
/* About Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-description{
    font-weight: 600;

}
/* Skills section style
 */
.skills-container{
    display: flex;
    gap: 24px;

}
.skill
{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    border-radius: 5px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description .experience-subtitle{
    color: #757575;
}
.experience-subtitle{
    font-size: 24px;
    font-weight: 600px;
}
.resume-download{
    margin-top: 30px;
}
/* Footer sytles */
footer{
    padding: 140px 230px;
    display: flex;
    gap: 100px;

}
.footer-column{
    width: 50%;
}
footer input[type="text"] ,footer input[type="email"],footer input[type="textarea"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}